<meta charset="UTF-8">
<style>
{{code_css}}
</style>

<style>
body .markdown-body {
  padding: 30px;
}

body .markdown-body > * {
  margin-left: 30px;
  margin-right: 30px;
}

.markdown-body p {
  margin-bottom: 0px !important;
}

.markdown-body h1 {
  margin: 0 !important;
  padding: 0 !important;
  background: #54a951;
  font-weight: 400 !important;
  color: #fff;
  padding: 30px !important;

}

.markdown-body h2 {
  font-weight: 400 !important;
  color: #54a951;
}

.markdown-body h2 .front {
  border: none !important;
  color: #6a737d !important;
}

.markdown-body h3 {
  font-weight: normal !important;
  font-size: 19px !important;
  margin: 0 0 14px 30px !important;
  color: #6a737d !important;
}

.markdown-body .sayhi {
  padding-top: 20px;
  height: 40px
}

.markdown-body ol {
  margin-bottom: 40px !important;
}
</style>
<article class="markdown-body">
{{ md_html }}</article>
